<!DOCTYPE html>
<html>
<head>
    
</head>

<body>
    
        <li>   
            
            <h4> TITLE : <%=book.title%></a> </h4>
            <p>  DESCRIPTION : <%=book.description%> </p>
            <h5>  AUTHOR : <%=book.author%>  </h5>
        </li>
    
</body>

</html>